{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# bootstrap files and CDN #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bs4/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">

    {% block head %}

    {% endblock %}
    <title>{% block title %}

    {% endblock %}</title>

    <script src=" {% static '/bs4/jquery.js' %}"></script>
    <script src=" {% static '/bs4/bootstrap.js' %}"></script>

</head>
<body>

<div class="container">
    {% include 'navbar.html' %}
    <div class="border border-dark">
        <p class="text-md-center">Base Template</p>
    </div>
    {% block content %}

    {% endblock %}
    {% include 'footer.html' %}
</div>

<script>
{% block script %}

{% endblock %}
</script>
</body>
</html>