{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# bootstrap files and CDN #}

    <link rel="stylesheet" href="{% static 'bs4/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main-style.css' %}" type="text/css">
    {% block head %}
        <title>{% block title %}

        {% endblock %}</title>
    {% endblock %}
    <script src=" {% static '/bs4/jquery.js' %}"></script>
    <script src=" {% static '/bs4/bootstrap.js' %}"></script>

</head>
<body>

<div class="container">
    {% include 'navbar.html' %}
    <div class="border border-dark">
        <p class="text-md-center">Base Template</p>
    </div>
    {% block content %}

    {% endblock %}
    {% include 'footer.html' %}
</div>


{% block script %}

{% endblock %}
</body>
</html>