{% extends 'base.html' %}


{% block title %}
    Main Home
{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <p>List of apps</p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <a href="admin/" class="">admin</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <a href="{% url 'account:home' %}" class="">Accounts</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <a href="{% url 'account:home' %}" class="">Accounts</a>
                    </div>
                </div>
            </div>
        </div>

        {#        main page article #}
        <article class="article1">
            <header>
                <h1 class="text-center">This is Main Page.</h1>
            </header>
            <div class="row">
                <section class="col border border-danger">
                    <ul class="list-group">
                        <li class="list-group-item">apples
                            <span class="badge badge-pill badge-dark float-right">10</span>
                        </li>
                        <li class="list-group-item">apples
                            <span class="badge badge-pill badge-dark float-right">10</span>
                        </li>
                        <li class="list-group-item">apples
                            <span class="badge badge-pill badge-dark float-right">10</span>
                        </li>
                    </ul>
                </section>

                <!--To do app section-->
                <section class="col  border border-primary">
                    <div>
                        <p class="text-center">To Do List App./ Add Comments App</p>
                    </div>
                    <div class="text-center">

                            <form action="">
                                <input type="text">
                                <button class="btn-md btn-sm btn-outline-info">Add</button>
                            </form>

                    </div>
                </section>
            </div>
        </article>
    </div>
{% endblock %}