{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'todo_home.css' %}" type="text/css">
{% endblock %}
{% block content %}
    <article class="border border-success article-todo col-lg-6">
        <div>
            <h3 class="text-center">Stand Alone ToDo App</h3>
        </div>
        <div>
            <div class="card">
                <div class="card-header">
                    <p class="card-title">
                        What Do You Want To Do Today?
                    </p>
                </div>
                <div>
                    <form action="{% url 'add_todo' %}" method="post" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">

                                {{ form.text }}
                                <button type="submit"><span><i class="fas fa-plus"></i></span> ADD</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <div>
                        <div class="row">
                            <div class="col">
                                <button><span><i class="fas fa-trash-alt"></i></span> Delete Completed</button>
                            </div>
                            <div class="col">
                                <button><span><i class="far fa-trash-alt"></i></span> Delete All</button>
                            </div>
                        </div>
                    </div>

                    {# todo_list completed and incompleted #}
                    <div class="card-text">
                        <ul class="list-group">

                            {% for item in todo_list %}
                                {% if item.complete %}
                                    <li class="list-group-item todo-completed">
                                        {{ item.text }}
                                    </li>
                                {% else %}
                                    <a href="{% url 'complete' item.id %}">
                                        <li class="list-group-item">
                                            {{ item.text }}
                                        </li>
                                    </a>
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>


{% endblock %}