* {
    margin: 0;
}

/*a{
    text-decoration: none !important;
}*/

body {
    background-color: palegoldenrod;
}

/*main.html*/
.apps-group {
    margin: 30px 0;
}
.row{
    margin-bottom: 3rem;
}
a.apps:hover{
    text-decoration: none;
}
.apps {
    /*height: 100px;*/
    font-size: 50px;
}

.apps:hover {
    background-color: orange;
}

/*article1 */
.article1 {
    margin: 30px 0;
}

.article1 .row {
    margin: 0;
}

.article1 section{
    margin-right: 30px;
}

.article1 section:last-child{
    margin-right: 0;
}

.article-todo {
    margin-bottom: 30px;
}

@media screen and (min-width: 500px) {
    div {

    }
}