{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="#" type="text/css">
    <title>
        Login
    </title>
{% endblock %}

{% block content %}

    <div class="container">
        <h3>Login Here!</h3>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}

        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <button class="btn btn-outline-primary" type="submit">Login</button>
            <a href="{% url 'main_page' %}" class="btn bg-warning">< Back</a>
        </form>
    </div>

{% endblock %}
